@charset "UTF-8";

@font-face {
  font-family: "GothamProBold";
  font-display: swap;
  src: url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.container {
  width: 100%;
  max-width: 1169px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.btnmore {
  width: 178px;
  padding: 16px 0 14px 0;
  background-color: transparent;
  border-radius: 5px;
  font-family: "GothamProBold";
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #191925;
  position: relative;
  display: block;
  margin: 0 auto;
}

.btnmore:after {
  content: "";
  background: url("../img/parallelogram.svg") no-repeat;
  width: 178px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 0;
}

.bets {
  margin-top: 50px;
  margin-bottom: 88px;
}

.bets__title {
  font-family: "GothamProBold";
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 23px;
}

.bets__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 30px 18px 38px;
  margin-bottom: 16px;
}

.bets__item:nth-child(11) {
  margin-bottom: 0px;
}

.bets__info {
  width: 566px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bets__number {
  width: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #3e3b4a;
}

.bets__logo {
  width: 108px;
}

.bets__name {
  width: 87px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #33312c;
}

.bets__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #33312c;
}

.bets__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
}

.bets__reviews,
.bets__overview,
.bets__website {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #191925;
  background-color: #fff;
  border-radius: 5px;
  padding: 9px 0;
}

.bets__reviews {
  border: 1px solid #67bc6d;
  width: 130px;
}

.bets__reviews span {
  font-weight: bold;
}

.bets__overview {
  width: 87px;
  border: 1px solid #dadada;
}

.bets__website {
  width: 107px;
  background: #e2455a;
  color: #ffffff;
}

.bets__btnmore {
  margin-top: 23px;
}

.prognosis {
  padding-bottom: 25px;
}

.prognosis__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.prognosis__title {
  font-family: "GothamProBold";
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000000;
}

.prognosis__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prognosis__li:not(:last-child) {
  margin-right: 13px;
}

.prognosis__li a {
  font-family: "GothamProBold";
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #7a798a;
}

.prognosis__li:first-child a {
  color: #5a3ec4;
}

.prognosis__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prognosis__item1 {
  width: 773px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prognosis__info {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 12px 39px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 16px 27px 13px 22px;
  min-width: 370px;
}

.prognosis__info:first-child,
.prognosis__info:nth-child(2) {
  margin-bottom: 16px;
}

.prognosis__sport {
  font-weight: bold;
  font-size: 11px;
  line-height: 24px;
  color: #5a3ec4;
}

.prognosis__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  max-width: 331px;
  margin-bottom: 16px;
}

.prognosis__discrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.prognosis__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #c1c0cd;
  margin-right: auto;
  margin-left: 10px;
}

.prognosis__coefficient {
  font-weight: 600;
}

.prognosis__number {
  font-size: 18px;
  text-align: right;
  color: #403e51;
  display: block;
}

.prognosis__coeff {
  font-size: 11px;
  text-align: center;
  color: #c1c0cd;
}

.prognosis__infofooter {
  border-top: 1px solid #f5f5f6;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prognosis__team {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prognosis__teamname {
  font-weight: 600;
  font-size: 16px;
  color: #403e51;
}

.prognosis__data {
  font-weight: 600;
}

.prognosis__daymonth {
  line-height: 18px;
  display: block;
  font-size: 11px;
  color: #c1c0cd;
}

.prognosis__time {
  font-size: 18px;
  color: #403e51;
}

.prognosis__btnmore {
  margin-top: 23px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 900px;
    padding: 0 10px;
  }

  .bets__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bets__info {
    width: 100%;
    margin-bottom: 15px;
  }

  .bets__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .bets__overview {
    margin: 0 15px;
  }

  .prognosis__contant {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .prognosis__item1 {
    width: 100%;
    margin-bottom: 15px;
  }

  .prognosis__info {
    width: 49%;
  }

  .prognosis__item2 {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 450px;
    padding: 0 15px;
  }

  .bets {
    margin-bottom: 30px;
  }

  .bets__title {
    text-align: center;
  }

  .bets__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170px;
  }

  .prognosis__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .prognosis__title {
    margin-bottom: 15px;
  }

  .prognosis__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .prognosis__info {
    width: 100%;
    margin-bottom: 15px;
  }

  .prognosis__item2 {
    border: 1px solid #000;
  }

  .prognosis__info {
    min-width: 0;
  }

  .prognosis__image {
    text-align: center;
    width: 100%;
  }
}